.error-form{
    width: 370px !important;
    color: red;
    font-weight: bold;
    font-size: 1.3rem;
}

.form-container p{
    font-weight: bold;
}

.pedido-confirm h3{
    color: aliceblue;
}

.pedido-confirm p{
    color: aliceblue;
}