/*NAVBAR*/
.navbar {
  background-color: #212529 !important;
}


.navbar-brand{
    font-size: 25px;
}

.nav-link{
    font-size: 20px;
}

.btnBuscar{
  margin-right: 5px;
}

.btncarro{
    margin-right: 5px;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}
